*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shered style  */
 .fone-open-sans{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
}
.color-orang{
    color: orange;
    font-weight: 900;
}

/* main style  */
header{
    background-color: antiquewhite;
    padding-top: 50px;
}
.btn{  
    background-color: orange ;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    /* (botton style) */

}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* (pura nav style) */
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
    /* (nsv ul) */

}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
    /* (nav a) */
}