*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shered style  */
 .fone-open-sans{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
} 
.logo-orange{
    color: orange;
}
.btn{
    background-color: orange;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align:center;
    margin: 0 auto;
}
.section-heading h2{
    font-size:35px;
    margin-bottom:30px;
}
.section-heading p{
    font-size:18px;
    margin-bottom:30px;
    line-height:30px;
    color:#757575;
}

/* main style */
header{
    background-color:#bb8b33;
    background: url(images/developer.png),url(images/header_bg.png),white ;
    background-position:top left ,bottom right ;
    background-repeat:no-repeat;
    padding:20px;
}
nav{
    width:71%;
    max-width:1320px;
    margin:0 auto;
    display:flex;
    justify-content:space-between ;
    align-items:center;
}
nav .menu {
    display:flex;
    list-style-type:none;
    gap:51px;
    align-items:center;
}
nav .menu a {
    font:size 20px;
    color:#474747;
    text-decoration:none;
}
#bannar{
    /* border: 1px solid red; */
    margin:47px 38px 0 230px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#bannar .bannar-content {
    max-width:1320px;

}
#bannar .bannar-content h2{
    font-size:45px;
    font-weight:600;
    color:#474747;
    margin-bottom:5px;

}
#bannar .bannar-content h1{
    font-size:85px;
    font-weight:bold;
    color: #181818;
    margin-bottom:20px;
}
#bannar .bannar-content p{
    font-size:18px;
    color: #757575;
    line-height:30px;
    margin-bottom:30px;

}
#bannar .bannar-iamge img {
    max-width:580px;
    vertical-align:middle;
}
#about {
    padding-top:130px;
    display: flex;
    justify-content: center;


}
#about .about-container {
    width:75%;
    max-width:1320px;
    margin:0 auot;
    text-align:center;
    background-color:#fff8ff;
    padding:132px;
}
#about .about-container .about-info {
    display:flex;
    justify-content:space-around;
}
.about-info .info-card p {
    font-size:20px ;
    /* margin-bottom: 30px; */
    line-height:30px;
    color:#757575;
}
.about-info .info-card h4 {
    font-size:20px;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
#skils{
    padding-top: 110px;
}
.skils-container{
    width: 75%;
    max-width: 1320px;
    margin: 0 auto;

}
#skils .skils-container .skils-box{
    display: flex;
    gap: 10px;
}
.skils-box .skils-card{
    max-width: 300px;
    /* border: 1px solid red; */
    padding: 40px;
    box-shadow:0 6px 50px #e7e4e4 ;
   
}.skils-card .img{
    max-width: 44px;
    margin-bottom:40px;
}
.skils-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom:40ox;
}
.skils-card p{
     font-size:18px;
    color: #757575;
    line-height:30px;
    margin-bottom:30px;

}
#resume{
    padding-top: 130px;

}
#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resume-container .section-title{
    color: #474747;
    font: size 30px; ;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 600px;
    margin-right: 47px;
}
.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resume-card .card-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
}
.resume-container hr{
    margin: 30px 0;
}
